<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCdF0x_Fuo_glePAI4cxRW6FaP95XGBguA</string>
	<key>GCM_SENDER_ID</key>
	<string>158161075188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mobileOtp</string>
	<key>PROJECT_ID</key>
	<string>mobile-otp-27daf</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-otp-27daf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158161075188:ios:be6ed92233868d3ed297a1</string>
</dict>
</plist>